.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 0 20px 20px;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 0px 40px 40px 0px;

  header {
    display: flex;
    align-items: center;

    h1 {
      margin-left: 40px;
    }
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 100%;
}
