.formWrapper {
  width: 24rem;
  margin-left: 20px;
  padding: 40px 20px;
  border-radius: 0 40px 40px 0;
  background-color: white;

  header {
    display: flex;
    align-items: center;
  }

  h1 {
    margin-left: 40px;
  }

  button {
    width: 100%;
  }
}

.genderSelection {
  margin-top: 20px;
}

.radioContainer {
  display: flex;
}
