.formWrapper {
  width: 24rem;
  margin-left: 20px;
  padding: 40px 20px;
  border-radius: 0 40px 40px 0;
  background-color: white;

  header {
    display: flex;
    align-items: center;
  }

  //   form {
  //     display: flex;
  //     flex-direction: column;
  //     height: 100%;
  //     justify-content: space-between;
  //   }
}
